@font-face {
  
    font-family: "Centurygothic"; 
    
    src: url("../fonts/centurygothic/centurygothic.ttf") format('truetype'),
    url("../fonts/centurygothic/centurygothic_bold.ttf") format('truetype'); 
    font-style: normal; 
    font-weight: normal; 
    } 
  
  *{
    font-family: Centurygothic,sans-serif !important;
  }


  